**/*.svg
**/*.ico
**/*.png
**/*.jpg
**/*.jpeg
/node_modules/
package.json
lib/
dist/
CNAME
LICENSE
yarn.lock
netlify.toml
yarn-error.log
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
